.container {
  max-width: 1280px;
  margin: 0 auto;

  .logo {
    margin-top: 39px;
    margin-left: 71px;
  }

  @media (max-width: 360px) {
    .logo {
      margin-top: 28px;
      margin-left: 20px;
      width: 157px;
    }
  }
}
